.app-logo{
	background: #ececec;
	height: 60px;
	background-repeat: no-repeat;
	padding: 10px 10px;
}

.app-logo img {
	width:200px;
}

div#address span {
    padding: 0px 5px;
    font-size: 80%;
}

.created {
		padding: 0px 5px;
		font-size: 70%;
}

ul.invoiceList {
    margin-left: 10px;
}
li.invoiceListItem {
    border: 1px solid #BBD;
}
.invoiceItem {
    padding: 10px;
}
.name {
    font-weight: bold;
}

.pageTitle{
	padding: 10px;
}

.reviewForm,.reviewSuccess {
	float: right;
	margin-top: -100px;
	font-size: 25px;
	margin-right: 200px;
}

.cname{
 font-weight: bold;
}
.caddr{

}
.businessProfile{
	background: #CEE;
height: 60px;
padding: 10px;
font-size: 24px;
}
